<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_principal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true"> <!-- requerido desde Android 12 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateCustomerActivity"
            android:label="@string/title_activity_crear_cliente" />
        <activity
            android:name=".CustomerItem"
            android:label="@string/title_activity_cliente_item" />
        <activity
            android:name=".CustomerViewActivity"
            android:label="@string/title_activity_visualizar_cliente" />
        <activity
            android:name=".TransactionItem"
            android:label="@string/title_activity_movimiento_item" />
        <activity
            android:name=".SaleActivity"
            android:label="Mantención" />
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_estadistica" />
        <activity
            android:name=".ChartActivity"
            android:label="@string/title_activity_grafico"/>

    </application>

</manifest>
